{
  "AppSettings": {
    "Secret": "<something secret>",
    "DBRead": "@!datastore.GetProperty("DBRead")!@",
    "DBWrite": "@!datastore.GetProperty("DBWrite")!@",
    "pepper": "BjBJnyetj0kAZhCs"
  },
  "AllowedHosts": "*"
}
