{
  "AppSettings": {
    "Secret": "En un pueblo de la Mancha, de cuyo nombre no quiero acordarme",
    "DBRead": "@!datastore.GetProperty("DBRead")!@",
    "DBWrite": "@!datastore.GetProperty("DBWrite")!@",
    "pepper": "BjBJnyetj0kAZhCs"
  },
  "AllowedHosts": "*"
}
